# Ignorar todos los archivos y carpetas, excepto los especificados

# Ignorar todos los archivos y carpetas en el directorio raíz
/*

# Luego, especifica los archivos y carpetas que deseas incluir

# Incluir el archivo app.js
!/app.js

# Incluir el archivo convertidor-audio.js
!/convertidor-audio.js

# Incluir el archivo Dockerfile
!/Dockerfile

# Incluir el archivo package.json
!/package.json

# Incluir la carpeta login y su contenido
!/login/

# Incluir la carpeta public y su contenido
!/public/

# Incluir la carpeta views y su contenido
!/views/
